version: "3.9"

services:
  backend:
    build: ./Backend
    container_name: flask-backend
    ports:
      - "8000:8000"
    restart: always
    networks:
      - app-network

  frontend:
    build: ./Frontend
    container_name: node-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
